.single-user-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-user {
    border: 2px solid rgba(0, 0, 0, 0.425);
    margin-top: 100px;
    padding: 20px;
}

.single-user ul li {
    list-style: none;
    text-align: left;
    font-size: large;
    font-weight: 600;
}
.single-user ul ul li {
    list-style:disc
}
